button {
    color: #F0F0FF;
    padding: 0px 2px;

    &:hover {
        color: #B0B0D0;
    }

    &:active {
        color: #9898B0;
    }
}

input {
    border: 1px solid #F0F0FF;
    color: #F0F0FF;
    min-height: 3px;
    min-width: 16px;

    &:focus {
        border: 1px solid #9898B0;
    }
}

textarea {
    border: 1px solid #F0F0FF;
    color: #F0F0FF;
    min-height: 5px;
    min-width: 16px;

    &:focus {
        border: 1px solid #9898B0;
    }
}

div {
    flex-shrink: 1;
}

span,
b,
i,
em,
strong,
a {
    display: inline;
}

b,
strong {
    font-weight: bold;
    // background-color: red;
}

i,
em {
    font-style: italic;
}

a {
    text-decoration: underline;
}